flows.json
[{"id":"a70a9d0b.15292","type":"tab","label":"Meraki Splash Page"},{"id":"85355c7a.894cd","type":"tab","label":"Meraki CMX Reciever"},{"id":"b1d8426c.b81a","type":"meraki-cmx-settings","z":"85355c7a.894cd","name":"Local Measure"},{"id":"4c72e649.33f528","type":"switch","z":"85355c7a.894cd","name":"Search Clients","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Pixel","vt":"str"},{"t":"cont","v":"00:26:ab:b8:a9:a5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":544,"y":411,"wires":[["3a79322.6d9bdce"],["1e642f85.f543e"],["f3797326.bd65"]]},{"id":"25312ef3.1092d2","type":"debug","z":"85355c7a.894cd","name":"Apple Device Found!","active":true,"console":"false","complete":"payload","x":1024,"y":411,"wires":[]},{"id":"3a79322.6d9bdce","type":"function","z":"85355c7a.894cd","name":"Apple device found!","func":"msg.payload = \"Found Benns Pixel!\"\nreturn msg;","outputs":1,"noerr":0,"x":764,"y":411,"wires":[["25312ef3.1092d2"]]},{"id":"1e642f85.f543e","type":"trigger","z":"85355c7a.894cd","op1":"Welcome Back!","op2":"We miss you :(","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"Welcome Back / We Miss You","x":790,"y":460,"wires":[["ba0a593c.ef0fd8"]]},{"id":"ba0a593c.ef0fd8","type":"debug","z":"85355c7a.894cd","name":"CMX Message","active":true,"console":"false","complete":"payload","x":1044,"y":471,"wires":[]},{"id":"1bd5eb06.ebd785","type":"inject","z":"85355c7a.894cd","name":"View Logs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":504,"y":951,"wires":[["a1eb8cc0.5c80f"]]},{"id":"212f03b.e96dafc","type":"debug","z":"85355c7a.894cd","name":"","active":true,"console":"false","complete":"false","x":1034,"y":951,"wires":[]},{"id":"55e91c6.6d1d8e4","type":"debug","z":"85355c7a.894cd","name":"CMX Validator","active":true,"console":"false","complete":"validator","x":1040,"y":120,"wires":[]},{"id":"c626d095.1406b","type":"debug","z":"85355c7a.894cd","name":"CMX Data","active":true,"console":"false","complete":"payload","x":1030,"y":160,"wires":[]},{"id":"fdb90e75.b8567","type":"Meraki CMX","z":"85355c7a.894cd","name":"Meraki CMX Reciever","url":"/cmx","settings":"b1d8426c.b81a","x":522,"y":182,"wires":[["55e91c6.6d1d8e4","c626d095.1406b","127f543f.f29efc","49ed9460.8882ac"]]},{"id":"30d3920b.17854e","type":"json","z":"85355c7a.894cd","name":"Convert JSON object to string, for basic searching","x":694,"y":371,"wires":[["4c72e649.33f528"]]},{"id":"228d7e60.2a8e22","type":"debug","z":"85355c7a.894cd","name":"cmx via link","active":true,"console":"false","complete":"payload","x":1034,"y":831,"wires":[]},{"id":"127f543f.f29efc","type":"link out","z":"85355c7a.894cd","name":"cmx","links":["b27b287f.7e3828","b664dfe6.a698e","48d5a8d6.4ad6d8","7a17db2d.f45ce4"],"x":975,"y":240,"wires":[]},{"id":"b27b287f.7e3828","type":"link in","z":"85355c7a.894cd","name":"","links":["127f543f.f29efc"],"x":459,"y":831,"wires":[["228d7e60.2a8e22","aa858446.f9ac58"]]},{"id":"b5360348.0daae","type":"file","z":"85355c7a.894cd","name":"","filename":"cmxdata.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1014,"y":871,"wires":[]},{"id":"a1eb8cc0.5c80f","type":"file in","z":"85355c7a.894cd","name":"","filename":"cmxdata.log","format":"utf8","x":774,"y":951,"wires":[["212f03b.e96dafc"]]},{"id":"c9e1b53f.786818","type":"http in","z":"85355c7a.894cd","name":"","url":"/cmxdata","method":"get","swaggerDoc":"","x":514,"y":1111,"wires":[["ec6464c9.00a6f8"]]},{"id":"5fc09a83.dbb384","type":"http response","z":"85355c7a.894cd","name":"","x":1054,"y":1111,"wires":[]},{"id":"ec6464c9.00a6f8","type":"file in","z":"85355c7a.894cd","name":"","filename":"cmxdata.log","format":"utf8","x":714,"y":1111,"wires":[["e34ea9c8.610ea8"]]},{"id":"aa858446.f9ac58","type":"function","z":"85355c7a.894cd","name":"clean data","func":"if (msg.payload !== null){\n    return msg;\n}","outputs":1,"noerr":0,"x":774,"y":871,"wires":[["b5360348.0daae"]]},{"id":"74324364.c9b46c","type":"inject","z":"85355c7a.894cd","name":"DELETE Logs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":574,"y":991,"wires":[["4ce0def7.c04a8"]]},{"id":"4ce0def7.c04a8","type":"file","z":"85355c7a.894cd","name":"","filename":"cmxdata.log","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":994,"y":991,"wires":[]},{"id":"e34ea9c8.610ea8","type":"json","z":"85355c7a.894cd","name":"","x":894,"y":1111,"wires":[["5fc09a83.dbb384"]]},{"id":"52f98710.ba4a58","type":"comment","z":"85355c7a.894cd","name":"Store and View Data","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":514,"y":791,"wires":[]},{"id":"fe907d9c.f8302","type":"comment","z":"85355c7a.894cd","name":"CMX Basic Flow - README","info":"This flow demonstrates how to use the Meraki CMX node.\n\nConfigure the CMX node with your URL & credentials\n\nThe server will start listening on the same port\nas Node-RED but will receive data on the \nURL configured\n\n# Example\nhttp://yourserver:1880/cmx\n\n# View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\nWritten by \nCory Guynn\nhttp://www.InternetOfLEGO.com\n\n\n","x":804,"y":71,"wires":[]},{"id":"b664dfe6.a698e","type":"link in","z":"85355c7a.894cd","name":"","links":["127f543f.f29efc"],"x":459,"y":371,"wires":[["30d3920b.17854e"]]},{"id":"79c99183.d655c","type":"comment","z":"85355c7a.894cd","name":"Workflow Examples","info":"","x":514,"y":271,"wires":[]},{"id":"48d5a8d6.4ad6d8","type":"link in","z":"85355c7a.894cd","name":"","links":["127f543f.f29efc"],"x":459,"y":571,"wires":[["8607ca70.a6ca38","97a6032b.b4cf5","62c8a1b4.77087","e4e36622.d84d98","39edceea.a76932"]]},{"id":"8607ca70.a6ca38","type":"change","z":"85355c7a.894cd","name":"payload.data.apMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.apMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":571,"wires":[["897f74a8.2cf4a8"]]},{"id":"897f74a8.2cf4a8","type":"debug","z":"85355c7a.894cd","name":"apMac","active":true,"console":"false","complete":"payload","x":1074,"y":571,"wires":[]},{"id":"97a6032b.b4cf5","type":"change","z":"85355c7a.894cd","name":"payload.data.observations[0].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":704,"y":611,"wires":[["1528e417.37431c"]]},{"id":"1528e417.37431c","type":"debug","z":"85355c7a.894cd","name":"observation[0] - clientMac","active":true,"console":"false","complete":"payload","x":1014,"y":611,"wires":[]},{"id":"62c8a1b4.77087","type":"change","z":"85355c7a.894cd","name":"payload.data.observations[1].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":704,"y":691,"wires":[["3961d3b4.45ec4c"]]},{"id":"3961d3b4.45ec4c","type":"debug","z":"85355c7a.894cd","name":"observation[1] - clientMac","active":true,"console":"false","complete":"payload","x":1014,"y":691,"wires":[]},{"id":"e4e36622.d84d98","type":"change","z":"85355c7a.894cd","name":"payload.data.observations[0].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":694,"y":651,"wires":[["e469ecee.87538"]]},{"id":"39edceea.a76932","type":"change","z":"85355c7a.894cd","name":"payload.data.observations[1].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":694,"y":731,"wires":[["a2c68fef.77643"]]},{"id":"e469ecee.87538","type":"debug","z":"85355c7a.894cd","name":"observation[0] - location","active":true,"console":"false","complete":"payload","x":1014,"y":651,"wires":[]},{"id":"a2c68fef.77643","type":"debug","z":"85355c7a.894cd","name":"observation[1] - location","active":true,"console":"false","complete":"payload","x":1014,"y":731,"wires":[]},{"id":"3c30c2fb.6abd9e","type":"comment","z":"85355c7a.894cd","name":"Search JSON as a string","info":"","x":554,"y":311,"wires":[]},{"id":"87da5761.862788","type":"comment","z":"85355c7a.894cd","name":"Search JSON as an object","info":"","x":554,"y":531,"wires":[]},{"id":"732015bd.a1d5ec","type":"comment","z":"85355c7a.894cd","name":"Log File","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":494,"y":891,"wires":[]},{"id":"4fdf50ad.560b","type":"comment","z":"85355c7a.894cd","name":"REST API client interface","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":554,"y":1071,"wires":[]},{"id":"80d77eb0.633cb","type":"comment","z":"85355c7a.894cd","name":"CMX Listener","info":"","x":494,"y":131,"wires":[]},{"id":"9fe54b17.85be58","type":"inject","z":"85355c7a.894cd","name":"DELETE - AUTO CLEAN","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":605.5,"y":1028,"wires":[["ee57a663.736068"]]},{"id":"ee57a663.736068","type":"delay","z":"85355c7a.894cd","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"days","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":788.5,"y":1029,"wires":[["4ce0def7.c04a8"]]},{"id":"49ed9460.8882ac","type":"debug","z":"85355c7a.894cd","name":"CMX Errors","active":true,"console":"false","complete":"error","x":1030,"y":200,"wires":[]},{"id":"f3797326.bd65","type":"change","z":"85355c7a.894cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Neither match the rule...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["8069fc4f.dde7b"]]},{"id":"8069fc4f.dde7b","type":"debug","z":"85355c7a.894cd","name":"Searching String","active":true,"console":"false","complete":"payload","x":1050,"y":520,"wires":[]},{"id":"92be8edd.dadac","type":"debug","z":"a70a9d0b.15292","name":"excapSignOn raw data","active":true,"console":"false","complete":"req.query","x":520,"y":560,"wires":[]},{"id":"c8c9744a.5b0a98","type":"http in","z":"a70a9d0b.15292","name":"","url":"/excapSignOn","method":"get","swaggerDoc":"","x":310,"y":490,"wires":[["92be8edd.dadac","57891bd4.73b124"]]},{"id":"289bc420.888f1c","type":"http response","z":"a70a9d0b.15292","name":"","x":912,"y":177,"wires":[]},{"id":"10834d22.4d34a3","type":"http in","z":"a70a9d0b.15292","name":"","url":"/excapClick","method":"get","swaggerDoc":"","x":296,"y":177,"wires":[["628bf22.d464e0c","b1893ba.e11a6c8"]]},{"id":"9c66c254.59a5e","type":"http response","z":"a70a9d0b.15292","name":"","x":890,"y":480,"wires":[]},{"id":"147fb4ef.1e07fb","type":"template","z":"a70a9d0b.15292","name":"HTML Login Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>Registration Form</title>\n\n</head>\n<body>\n\n    \n\n\n    <div class=\"main-content\">\n    <form class=\"form-register\" method=POST action={{payload.login_url}} />\n        <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n        <input type=\"hidden\" name=\"host\" value ={{host}}>\n        <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n        <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n        <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n        <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n        <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n        <input type=\"hidden\" name=\"success_url\" value={{payload.continue_url}} />\n\n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Password</span>\n                            <input type=\"password\" name=\"password\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>","x":710,"y":480,"wires":[["9c66c254.59a5e"]]},{"id":"628bf22.d464e0c","type":"function","z":"a70a9d0b.15292","name":"Set login_url","func":"msg.payload.login_url = msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url;\n\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":177,"wires":[["ba8f2de8.cfd54"]]},{"id":"b1893ba.e11a6c8","type":"debug","z":"a70a9d0b.15292","name":"excapClick raw data","active":true,"console":"false","complete":"true","x":520,"y":220,"wires":[]},{"id":"bd229a47.e98ee8","type":"comment","z":"a70a9d0b.15292","name":"Meraki Click-through, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapClick\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\nThe HTML page can be modified as needed. \n","x":302,"y":123,"wires":[]},{"id":"b39409f9.934cf8","type":"comment","z":"a70a9d0b.15292","name":"Meraki Sign-on, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapSignOn\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\n","x":288,"y":440,"wires":[]},{"id":"b1389b7e.fb1bf8","type":"template","z":"a70a9d0b.15292","name":"HTML Splash Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n\t<meta charset=\"utf-8\">\n\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n\t<title>Registration Form</title>\n\n</head>\n<body>\n\n\t\n\n\n    <div class=\"main-content\">\n\n        <form class=\"form-register\" method=POST action=\"/excapClickLogin\">\n                <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n                <input type=\"hidden\" name=\"host\" value ={{host}}>\n                <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n                <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n                <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n                <input type=\"hidden\" name=\"node_id\" value = {{payload.node_id}}/>\n                <input type=\"hidden\" name=\"gateway_id\" value = {{payload.gateway_id}}/>\n                <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n                <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n            \n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Name</span>\n                            <input type=\"text\" name=\"name\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>\n\n","x":745,"y":177,"wires":[["289bc420.888f1c"]]},{"id":"efb833df.a7d05","type":"http in","z":"a70a9d0b.15292","name":"","url":"/excapClickLogin","method":"post","swaggerDoc":"","x":385,"y":282,"wires":[["7a410f86.0700e","c83456b4.4438f8"]]},{"id":"7a410f86.0700e","type":"function","z":"a70a9d0b.15292","name":"Process login with 302 redirect","func":"// check if client has connected properly and received response from AP\nif (msg.payload.base_grant_url){\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url\n      //add other headers here...\n    };\n}else{\n    // error: send client back to login\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': '/excapNotConnected'\n      //add other headers here...\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":282,"wires":[["63128e64.2d76a","cce06b5f.4aea28"]]},{"id":"63128e64.2d76a","type":"http response","z":"a70a9d0b.15292","name":"","x":902,"y":282,"wires":[]},{"id":"c83456b4.4438f8","type":"debug","z":"a70a9d0b.15292","name":"excapClick session data to console","active":true,"console":"false","complete":"payload","x":693.9999847412109,"y":361.0000114440918,"wires":[]},{"id":"ab226643.9d8a48","type":"comment","z":"a70a9d0b.15292","name":"Store form data - read more...","info":"Instead of the debug console output, export\nthe form/session data to a database, file, etc.","x":648,"y":328,"wires":[]},{"id":"95a6fc60.46827","type":"comment","z":"a70a9d0b.15292","name":"Terms and Conditions","info":"","x":273,"y":794,"wires":[]},{"id":"c844eccd.8610a","type":"comment","z":"a70a9d0b.15292","name":"Success","info":"","x":235,"y":582,"wires":[]},{"id":"721d6c8c.5b5594","type":"http in","z":"a70a9d0b.15292","name":"","url":"/excapTerms","method":"get","swaggerDoc":"","x":333,"y":833,"wires":[["8f679e74.3677a"]]},{"id":"a483548.11b62a8","type":"http response","z":"a70a9d0b.15292","name":"","x":915,"y":833,"wires":[]},{"id":"703ac02e.81245","type":"template","z":"a70a9d0b.15292","name":"HTML Terms and Conditions","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <title>Terms and Conditions</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Terms and Conditions</h1>\n    <ul>\n        <li>Please use our network responsibly. </li>\n        <li>Your computer's MAC and IP address will be logged.</li>\n    </ul>\n    </div>\n</body>\n\n\n","x":684,"y":833,"wires":[["a483548.11b62a8"]]},{"id":"676fe3fb.f1030c","type":"http in","z":"a70a9d0b.15292","name":"","url":"/excapSuccess","method":"get","swaggerDoc":"","x":313,"y":637,"wires":[["acca6a4d.2de128"]]},{"id":"6d33a4f2.9fcd1c","type":"http response","z":"a70a9d0b.15292","name":"","x":902,"y":637,"wires":[]},{"id":"be686b9a.8ffeb8","type":"template","z":"a70a9d0b.15292","name":"HTML Success","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <title>Success!</title>\n{{{payload.css}}}\n</head>\n<body>\n    <div class=\"container\">\n    <center><h1>Success!</h1>\n    <h2>You can now use the network.</h2>\n    </center>\n    </div>\n</body>\n\n\n","x":696,"y":637,"wires":[["6d33a4f2.9fcd1c"]]},{"id":"76a6cdb0.757904","type":"comment","z":"a70a9d0b.15292","name":"Error: Not connected to AP","info":"","x":289,"y":917,"wires":[]},{"id":"be545c07.a4c5f","type":"http in","z":"a70a9d0b.15292","name":"","url":"/excapNotConnected","method":"get","swaggerDoc":"","x":334,"y":990,"wires":[["37f87eae.168af2"]]},{"id":"e1bb85cd.ee5ff8","type":"http response","z":"a70a9d0b.15292","name":"","x":916,"y":990,"wires":[]},{"id":"627f8d7c.ca5e84","type":"template","z":"a70a9d0b.15292","name":"HTML Terms and Conditions","field":"payload","format":"handlebars","template":"<head>\n    <title>Error: Not Connected</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Error: Not Connected</h1>\n    <p>\n        Hmm, somethings not right. It appears you\n        are not connected to the correct wireless network.\n    </p>\n    </div>\n</body>\n\n\n","x":685,"y":990,"wires":[["e1bb85cd.ee5ff8"]]},{"id":"f599f71d.7d6e58","type":"comment","z":"a70a9d0b.15292","name":"Cisco Meraki ExCap Service - by Cory Guynn","info":"More information about the Meraki ExCap API:\nhttps://meraki.cisco.com/lib/pdf/meraki_whitepaper_captive_portal.pdf\n\nEnjoy!\n\nWritten by Cory Guynn, 2015.\nConsulting Engineer @ https://meraki.cisco.com/\nTechnical Blogger @ http://www.InternetOfLego.com","x":617.5,"y":75,"wires":[]},{"id":"ba8f2de8.cfd54","type":"template","z":"a70a9d0b.15292","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":720.5,"y":141,"wires":[["b1389b7e.fb1bf8"]]},{"id":"57891bd4.73b124","type":"template","z":"a70a9d0b.15292","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":520,"y":480,"wires":[["147fb4ef.1e07fb"]]},{"id":"acca6a4d.2de128","type":"template","z":"a70a9d0b.15292","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":680,"y":599,"wires":[["be686b9a.8ffeb8"]]},{"id":"8f679e74.3677a","type":"template","z":"a70a9d0b.15292","name":"CSS Style","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":628,"y":791,"wires":[["703ac02e.81245"]]},{"id":"37f87eae.168af2","type":"template","z":"a70a9d0b.15292","name":"CSS Style","field":"payload","format":"html","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":629,"y":953,"wires":[["627f8d7c.ca5e84"]]},{"id":"345aa2ce.0c157e","type":"comment","z":"a70a9d0b.15292","name":"Supporting Pages","info":"","x":224,"y":733,"wires":[]},{"id":"cce06b5f.4aea28","type":"debug","z":"a70a9d0b.15292","name":"Process Login","active":true,"console":"false","complete":"payload","x":868.8957977294922,"y":322.3333549499512,"wires":[]}]